<div class="container bg-warning mt-3 p-4" style="height: 350px;">
    <div class="row">
        <div class="col-lg-4 mt-3 px-4 text-light">
            <h4 class="text-light fw-bolder"><i class="fa-solid fa-graduation-cap me-2"></i>cookpedia</h4>
            <p style="text-align: justify;" class="text-light">Discover 100+ recipes in your hand with the best recipe. Help you to find the easiest way to cook.</p>

        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-5 mt-3">
            <h3 class="text-light">Sign up for our news letter</h3>
            <div class="d-flex mt-3">
                <input type="text" placeholder="Enter Your Email Id..." class="form-control">
                <button style="background-color: orange;" class="btn btn-light ms-2"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="row">
                <div class="col-4">
                    <h5 class="text-light mt-3">Links</h5>
                    <a routerLink="" class="nav-link text-light active">Home</a>
                    <a routerLink="/recipes" class="nav-link text-light active">Recipes</a>
                    <a routerLink="/about" class="nav-link text-light active">About</a>
                    <a routerLink="/contact" class="nav-link text-light active">Contact</a>


                </div>
                <div class="col-4">
                    <h5 class="text-light mt-3">Help</h5>
                    <a routerLink="/login" class="nav-link text-light active">Login</a>
                    <a routerLink="/register" class="nav-link text-light active">Register</a>
                    <a routerLink="/about" class="nav-link text-light active">Terms of Use</a>
                    <a routerLink="/contact" class="nav-link text-light active">Privacy and Policy</a>

                           

                </div>
                <div class="col-4">

                    <h5 class="text-light mt-3">Social Media</h5>
                    <a routerLink="/" class="nav-link text-light active">Facebook</a>
                    <a routerLink="/" class="nav-link text-light active">Instagram</a>
                    <a routerLink="/" class="nav-link text-light active">Linkedin</a>
                    <a routerLink="/" class="nav-link text-light active">Youtube</a>

                </div>
            </div>


        </div>
    </div>

</div>
