<div class="row">
    <div class="col-lg-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10">
        <h1 class="my-5 text-black">All Feedback</h1>

        <table class="table my-5 shadow">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Username</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Feedback</th>
                    <th class="text-center">Action/status</th>
                </tr>
            </thead>
            <tbody>
                @for (item of allFeedBack; track $index;let i=$index) {
                <tr>
                    <td class="text-center text-capitalize">{{i+1}}</td>
                    <td class="text-center text-capitalize">{{item.name}}</td>
                    <td class="text-center text-capitalize">{{item.email}}</td>
                    <td class="text-center text-capitalize">{{item.message}}</td>
                    <td class="text-center text-capitalize">
                        @if (item.status=="Pending") {

                        <div class="d-flex justify-content-center">
                            <button (click)="feedBackStatus(item._id,'Approved')" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                            <button (click)="feedBackStatus(item._id,'Rejected')" class="btn btn-danger ms-2"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                        } @else if (item.status=="Approved") {

                        <button class="btn btn-success w-50 p-1">Approved</button>
                        }@else {

                        <button class="btn btn-danger ms-2 w-50 p-1">Rejected</button>
                        }

                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>