<div class="container-fluid bg-black p-5 d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class='text-light text-capitalize display-1'>404</h1>
            <h5 class='text-light text-capitalize'>Not found</h5>
            <p class='text-light text-capitalize'>The resource you're looking for is not found.</p>
            <a href="/" class='btn btn-info text-capitalize px-4 py-2 fw-bold'>Go home</a>
        </div>
    </div>
</div>